# SPDX-FileCopyrightText: 2026 Matthew Klapman
# SPDX-License-Identifier: Apache-2.0

[submodule "code/third_party/libcrux"]
	path = code/third_party/libcrux
	url = https://github.com/cryspen/libcrux
[submodule "code/third_party/fiat-crypto"]
	path = code/third_party/fiat-crypto
	url = https://github.com/mit-plv/fiat-crypto
